In [1]:
# !pip install huggingface_hub 
# !pip install datasets openai langchain 
# TODO: huggingface
!huggingface-cli login --token  "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"
# math_tool
# !pip install dataset
from datasets import load_dataset
from huggingface_hub import hf_hub_download
 
import huggingface_hub
from huggingface_hub import snapshot_download

from datasets import load_dataset_builder
from datasets import load_dataset
import datasets
import pandas as pd

from datasets import Dataset
from datasets import DatasetDict
import json
import os
# from datasets import DatasetDict

# dt_df_convs_cleaned = DatasetDict({
#     'train': Dataset.from_pandas(df_convs_cleaned)
# })
#dataset_longData_rp_sub = load_dataset(path="togethercomputer/Long-Data-Collections", 
#data_dir="pretrain",data_files="rp_sub.jsonl.zst", split="train")

def upload_dataset(dt, path):
    dt.push_to_hub(path, private=True)

def save_df(df, file_name,path):
    df.to_json(path_or_buf=path + file_name, orient="records",lines=True)

The token has not been saved to the git credentials helper. Pass `add_to_git_credential=True` in this function directly or `--add-to-git-credential` if using via `huggingface-cli` if you want to set the git credential as well.
Token is valid (permission: write).
The token `data_proc` has been saved to /root/.cache/huggingface/stored_tokens
Your token has been saved to /root/.cache/huggingface/token
Login successful.
The current active token is: `data_proc`

/root/miniconda3/envs/tora/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
ds = load_dataset("Maxwell-Jia/AIME_2024",split="train")

In [ ]:
aime2024= pd.DataFrame(ds)
aime2024.head()

In [ ]:
# 把Problem, Solution, Answer列改成小写列，problem
aime2024.rename(columns={"Problem": "problem", "Solution": "solution", "Answer": "answer"}, inplace=True)
aime2024.head()

In [ ]:
# 存成json到/workspace/ToRA/src/data，命名为AIME_2024
aime2024.to_json(path_or_buf="/workspace/ToRA/src/data/AIME_2024/test.jsonl", orient="records", lines=True)

In [ ]:
ds_1 = load_dataset("opencompass/AIME2025","AIME2025-I",split="test")

ds_2 = load_dataset("opencompass/AIME2025","AIME2025-II",split="test")

In [30]:
df_1 = pd.DataFrame(ds_1)
df_2 = pd.DataFrame(ds_2)
df = pd.concat([df_1, df_2], axis=0)
df.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               question answer
0                                                                                                                                                                                                                                                                                                                                                                                                                                                  Find the sum of all integer bases $b>9$ for which $17_{b}$ is a divisor of $97_{b}$.     70
1                                                                                                                                         On $\triangle ABC$ points $A,D,E$, and $B$ lie that order on side $\overline{AB}$ with $AD=4, DE=16$, and $EB=8$. Points $A,F,G$, and $C$ lie in that order on side $\overline{AC}$ with $AF=13, FG=52$, and $GC=26$. Let $M$ be the reflection of $D$ through $F$, and let $N$ be the reflection of $G$ through $E$. Quadrilateral $DEGF$ has area 288. Find the area of heptagon $AFNBCEM$.    588
2  The 9 members of a baseball team went to an ice cream parlor after their game. Each player had a singlescoop cone of chocolate, vanilla, or strawberry ice cream. At least one player chose each flavor, and the number of players who chose chocolate was greater than the number of players who chose vanilla, which was greater than the number of players who chose strawberry. Let $N$ be the number of different assignments of flavors to players that meet these conditions. Find the remainder when $N$ is divided by 1000.     16
3                                                                                                                                                                                                                                                                                                                                                                                   Find the number of ordered pairs $(x,y)$, where both $x$ and $y$ are integers between $-100$ and $100$, inclusive, such that $12x^{2}-xy-6y^{2}=0$.    117
4                                                                                                                                                                                                                                                                                                            There are $8!=40320$ eight-digit positive integers that use each of the digits $1,2,3,4,5,6,7,8$ exactly once. Let $N$ be the number of these integers that are divisible by 22. Find the difference between $N$ and 2025.    279

In [32]:
df.to_json(path_or_buf="/workspace/ToRA/src/data/AIME_2025/test.jsonl", orient="records", lines=True)

In [ ]:
aime2024_160 = pd.read_json("/workspace/ToRA/src/output/global_step_160/actor_hf/AIME_2024/test_tora_30_seed0_t0.0_s0_e30_04-03_15-45.jsonl", lines=True)

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)
aime2024_160

In [2]:
math500 = load_dataset("HuggingFaceH4/MATH-500", split="test")
math500_df = pd.DataFrame(math500)
math500_df.head()

Generating test split: 100%|██████████| 500/500 [00:00<00:00, 68288.90 examples/s]

,problem,solution,answer,subject,level,unique_id
0,"Convert the point $(0,3)$ in rectangular coord...",We have that $r = \sqrt{0^2 + 3^2} = 3.$ Also...,"\left( 3, \frac{\pi}{2} \right)",Precalculus,2,test/precalculus/807.json
1,Define\n\[p = \sum_{k = 1}^\infty \frac{1}{k^2...,We count the number of times $\frac{1}{n^3}$ a...,p - q,Intermediate Algebra,5,test/intermediate_algebra/1994.json
2,"If $f(x) = \frac{3x-2}{x-2}$, what is the valu...",$f(-2)+f(-1)+f(0)=\frac{3(-2)-2}{-2-2}+\frac{3...,\frac{14}{3},Algebra,3,test/algebra/2584.json
3,How many positive whole-number divisors does 1...,First prime factorize $196=2^2\cdot7^2$. The ...,9,Number Theory,3,test/number_theory/572.json
4,The results of a cross-country team's training...,Evelyn covered more distance in less time than...,\text{Evelyn},Algebra,2,test/algebra/1349.json

In [3]:
math500.to_json(path_or_buf="/workspace/ToRA/src/data/math500/test.jsonl", orient="records", lines=True)

Creating json from Arrow format: 100%|██████████| 1/1 [00:00<00:00, 153.20ba/s]

442443